$colors: (
  "green": hsl(123, 47%, 74%),
  "blue": hsl(210, 47%, 74%),
  "orange": hsl(34, 93%, 77%),
  "purple": hsl(231, 44%, 76%),
  "yellow": hsl(54, 76%, 79%),
  "brown": hsl(20, 41%, 69%),
  "red": hsl(0, 59%, 76%),
  "pink": hsl(295, 42%, 72%),
  "white": hsl(0, 0%, 100%),
);
